@media screen and (max-width: 600px) {
  body {
    background-color: #d3d3d3;
    overflow: hidden;
  }

  #bttn-enter {
    display: none;
  }

  #site-background {
    display: none;
    background-color: lightgray;
  }

  .notDisplay {
    display: flex;
  }
  .main {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Ubuntu", sans-serif;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    padding: 0;
  }

  .nav-bar {
    margin-bottom: 0;
    height: 100px;
    padding-bottom: 12px;
    width: 100vw;
    justify-content: space-around;
  }

  #logo-nav-bar{
    width: 30vw;
    height: 30vw;
    padding: 0;
    text-align: center;
  }

  #shopping-cart{
    padding: 6px 6px;
    font-size: 20vw;
    text-align: center;
    margin: 0;
  }

  
  .section-buttons{
    display: none;
  }

  #place-order-bttn{
    display: block;
  }

  .sections-buttons{
    flex-direction: column;
    text-align: center;
  }

  .about-section, .contact-section{
    display: block;
    padding: 8px 12px;
    font-size: 5vw;
    margin: 4px 4px;
  }

  .nav-bar > li {
    margin: 0;
  }

  .main-body {
    height: 600px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }


  #home {
    display: none;
  }

  .items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-block {
    width: 90vw;
  }

  .mySlides > img {
    width: 90vw;
    height: 90vw;
  }

  .play-on-hover {
    display: none;
  }

  .social-media {
    padding-top: 24px;
  }

  #popup-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
  }

  .preview-product-content {
    flex-direction: column;
    align-items: center;
  }

  #popup-slideshow > .mySlides > img {
    width: 80vw;
    height: 80vw;
  }

  #popup-window > .slideshow-container {
    margin-top: 128px;
  }

  #popup-content {
    font-size: 1px;
    width: 80vw;
  }

  #popup-content-container {
    width: 80vw;
    height: fit-content;
    margin-bottom: 0;
  }

  #popup-content-container > h1 {
    font-size: 38px;
  }

  #size-container {
    margin: 24px 0;
  }

  #popup-order {
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .number {
    width: fit-content;
  }

  span.quantity-number {
    font-size: 18px;
    margin: 0 1px;
  }

  .quantity {
    width: 12px;
  }

  #popup-window-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: 90vh;
    overflow: scroll;
  }

  span.title-cart {
    font-size: 64px;
    padding: 8px 0;
    padding-right: 6px;
    width: 80vw;
    margin-left: 12px;
  }

  .close-container {
    margin-left: 12px;
    padding-bottom: 24px;
  }

  .leftright,
  .rightleft {
    width: 40px;
  }

  .content-cart-container {
    width: 80vw;
    font-size: 20px;
  }

  .decrease,
  .increase,
  .quantity-number {
    margin: 0;
  }

  .decrease,
  .increase {
    font-size: 18px;
  }

  .remove-item {
    margin-right: 8px;
  }

  .price-cart {
    display: none;
  }

  .size-cart {
    margin-left: 12px;
  }

  .quantity-cart {
    margin: 6px;
    width: 100px;
  }

  .addtocart:hover{
    transform: none;
  }

  .product {
    padding: 12px 0;
  }

  .product > i {
    font-size: 24px;
  }

  .product > img {
    display: none;
  }

  .name-cart {
    width: 75px;
    font-family: "Ubuntu", sans-serif;
  }

  .checkout-button {
    margin: 0;
  }

  .content-checkout {
    flex-direction: column;
    align-items: center;
    margin: 12px 12px;
  }

  .form-checkout {
    width: 70vw;
  }

  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .col-75 {
    width: 80vw;
  }

  .order-checkout-container {
    width: 70vw;
    font-size: 18px;
  }

  #place-order-bttn {
    width: 80vw;
  }
}


@media (min-width: 1024px) and (max-width: 1440px) {
  body {
    overflow: scroll;
  }

  .main {
    width: 90vw;
    height: 90vh;
    overflow:visible;
  }

  #logo-nav-bar{
    width: 10vw;
    height: 10vw;
    padding: 0;
    text-align: center;
  }

  #shopping-cart{
    padding: 6px 6px;
    font-size: 6vw;
    text-align: center;
    margin: 0;
  }

  .section-buttons{
    padding: 18px;
    font-size: 3vw;
  }

  #home{
    margin-right: 6px;
  }

  #items{
    margin-top: 12px;
    padding-left: 4px;
  }

  .product-block {
    width: 20vw;
  }

  .mySlides > img {
    width: 25vw;
    height: 25vw;
  }

  .play-on-hover{
    width: 50vw;
    height: 80vh;
  }
  
  #popup-window-cart, #popup-window{
    width: 90vw;
    height: 90vh;
  }
  
  /* Fix gif and popup-windows when size-down for this range and continue with smaller resolution */
}

@media (min-width: 1024px) and (max-width: 1320px){
  .play-on-hover{
    display: none;

  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    width: 90vw;
    height: 90vh;
    overflow:visible;
  }

  .nav-bar {
    width: 90vw;
    align-self: center;
  }

  #logo-nav-bar{
    width: 125px;
    height: 125px;
    padding: 0;
    text-align: center;
  }

  #shopping-cart{
    padding: 0;
  }

  .section-buttons{
    padding: 12px;
    font-size: 3vw;
  }
  
  #home{
    margin-left: 12px;
  }

  .items-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .product-block {
    width: 60vw;
  }

  .mySlides > img {
    width: 35vw;
    height: 35vw;
  }

  .product-block {
    width: 30vw;
  }

  #about{
    flex-direction: column;
    align-items: center;
  }

  .content{
    width: 80vw;
  }

  .play-on-hover{
    width: 400px;
    height: 400px;
  }

  .size-cart{
    margin-left: 12px;
  }

  .quantity-cart{
    font-size: 18px;
  }

  #popup-window-cart, #popup-window{
    width: 90vw;
    height: 90vh;
  }
  
}